<app-navbar></app-navbar>
<div id="container">
  <router-outlet></router-outlet>
<!--  <div id="content-container">-->
<!--    <div id="left-content"></div>-->
<!--    <div id="middle-content">-->
<!--      <div class="middle-content-top"></div>-->
<!--      <div class="middle-content-mid"></div>-->
<!--      <div class="middle-content-bot"></div>-->
<!--    </div>-->
<!--    <div id="right-content"></div>-->
<!--  </div>-->
</div>
<!--<button (click)="authService.login()">Login with Google</button>-->
<!--<button (click)="authService.logout()">Logout</button>-->


